<!-- <section fxLayout="column wrap">
  <mat-tab-group>
    <mat-tab label="A">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae magni, consectetur dicta corrupti error rerum.
        Explicabo hic vitae, eius illo accusamus dolore voluptatem tenetur rem fugiat eaque aspernatur aliquam sunt?
      </p>
    </mat-tab>
    <mat-tab label="B">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae magni, consectetur dicta corrupti error rerum.
        Explicabo hic vitae, eius illo accusamus dolore voluptatem tenetur rem fugiat eaque aspernatur aliquam sunt?
      </p>
    </mat-tab>
    <mat-tab label="C">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae magni, consectetur dicta corrupti error rerum.
        Explicabo hic vitae, eius illo accusamus dolore voluptatem tenetur rem fugiat eaque aspernatur aliquam sunt?
      </p>
    </mat-tab>
  </mat-tab-group>
</section> -->

<img src="../../assets//img/biscuit_erp.jpg" id="home-background">
