<div class="login-container" fxLayout="column">
  <div class="login-title">ERP-BISCUITERIE</div>
  <div fxLayout="row" fxLayoutAlign="center center" class="login-main">
    <mat-card>
      <mat-card-content fxLayout="column">
        <mat-form-field>
          <input [(ngModel)]="username" matInput placeholder="Adresse Mail">
        </mat-form-field>
        <mat-form-field>
          <input type="password" [(ngModel)]="password" matInput placeholder="Mot de Passe">
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions class="button" align="end">
        <button mat-raised-button color="primary" (click)="sendEvent()">Login</button>
      </mat-card-actions>
      <div *ngIf="isLoginError" class="alert-danger alert">
        <strong>Le nom d'utilisateur ou le mot de passe est incorrecte</strong>
      </div>
    </mat-card>
  </div>
</div>


<style>
.alert-danger {
  background-color: #f44336; /* Red */
  opacity: 0.75;
  border-radius: 8px;
}
.alert-success {
  background-color: #36f456;  
} 
.alert{
  padding: 20px;
  color: white;
  margin-bottom: 15px;
  text-align: center;
}
</style>