.login-main {
  margin-bottom: 23%;
}

.login-title {
  font-family: 'Shadows Into Light', cursive;
  font-size: 100px;
  color: rgba(236, 240, 241, 1);
  text-align: center;
  margin-top: 15%;
  margin-bottom: 1%;
}

mat-card {
  min-width: 30%;
  background-color: rgba(236, 240, 241, 0.6);
}
