@import '@angular/material/prebuilt-themes/pink-bluegrey.css';

* {
  box-sizing: border-box;
}

/*pour que sidebar prenne toute la page*/
html,
body {
  margin: 0;
  height : 100vh;
  overflow: hidden;
}

/* Login-form container */
.login-container {
  background : url("assets/img/biscuit_erp.jpg") no-repeat center / cover;
}
