.div-side-entiere{
    background-color: #424242;
}

a {
  text-decoration: none;
  color: white;
}

a:hover,
a:active {
  color: #868F94;
}

.nav-caption {
  display: inline-block;
  padding-left: 6px;
}

#logo {
  width: 105%;
  margin: 80px -5px 0px -5px;
}

hr {
  border: 3px solid #c0392b;
  margin-top: 45px;
}
