<div class="container">
  <div class="button-row">
    <a mat-flat-button color="primary" (click)="openDialog()">
      <mat-icon>add</mat-icon>
    </a>
  </div>
  <div id="show-customers">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Recherche...">
    </mat-form-field>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <!-- Id Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let customer"> {{customer.id}} </td>
      </ng-container>

      <!-- Nom + Prenom Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nom </th>
        <td mat-cell *matCellDef="let customer"> {{customer.name}} </td>
      </ng-container>

      <!-- Address -->
      <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef> Address </th>
        <td mat-cell *matCellDef="let customer"> {{customer.address}} </td>
      </ng-container>

      <!-- Phone Number -->
      <ng-container matColumnDef="phoneNumber">
        <th mat-header-cell *matHeaderCellDef> Numéro de Téléphone </th>
        <td mat-cell *matCellDef="let customer"> {{customer.phoneNumber}} </td>
      </ng-container>

      <!-- Email -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let customer"> {{customer.email}} </td>
      </ng-container>

      <!-- Director Name -->
      <ng-container matColumnDef="directorName">
        <th mat-header-cell *matHeaderCellDef> Director Name </th>
        <td mat-cell *matCellDef="let customer"> {{customer.directorName}} </td>
      </ng-container>

      <!-- Department Name -->
      <ng-container matColumnDef="departmentName">
        <th mat-header-cell *matHeaderCellDef> Department Name </th>
        <td mat-cell *matCellDef="let customer"> {{customer.departmentName}} </td>
      </ng-container>

      <!-- Reduction -->
      <ng-container matColumnDef="reductionId">
        <th mat-header-cell *matHeaderCellDef> Reduction Id </th>
        <td mat-cell *matCellDef="let customer"> {{customer.reductionId}} </td>
      </ng-container>
  
      <!-- Action Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let customer">
          <div class="btn-toolbar">
            <button mat-mini-fab color="primary" class="btn-edit" matTooltip="Editer un client"
              (click)="loadCustomerToEdit(customer.id)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-mini-fab color="warn" matTooltip="Supprimer un client" (click)="deleteCustomer(customer.id)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>