<div class="container">

  <div id="manage-user" class="z-depth1">

    <mat-toolbar class="title-form" color="accent">
      <div align="center" style="text-align: center; width:100%;">
        <p>{{ title }}</p>
      </div>
    </mat-toolbar>

    <br><br>

    <mat-dialog-content align="left">
      <form [formGroup]="userForm" (ngSubmit)="onFormSubmit(userForm.value)" class="form">
        <mat-form-field class="form-element">
          <input formControlName="firstname" matTooltip="Enter User Firstname" matInput placeholder="User Firstname">
          <mat-error *ngIf="!userForm.get('firstname').valid && userForm.get('firstname').touched">
            Ce champ est obligatoire
          </mat-error>
        </mat-form-field>

        <mat-form-field class="form-element">
          <input formControlName="lastname" matTooltip="Enter User Lastname" matInput placeholder="User Lastname">
          <mat-error *ngIf="!userForm.get('lastname').valid && userForm.get('lastname').touched">
            Ce champ est obligatoire
          </mat-error>
        </mat-form-field>

        <mat-form-field class="form-element">
          <input formControlName="email" matTooltip="Enter Email" matInput placeholder="Email">
          <mat-error *ngIf="!userForm.get('email').valid && userForm.get('email').touched">
            {{ getErrorEmail() }}
          </mat-error>
        </mat-form-field>


        <div class="form-element">
          <label style="margin-right:5px; vertical-align:middle;">Rôle: </label>

          <mat-radio-group formControlName="floatLabel" matTooltip="Enter Role" formControlName="roleId">
            <mat-radio-button value="1">Admin</mat-radio-button>
            <mat-radio-button value="2">Comptable</mat-radio-button>
          </mat-radio-group>
          <mat-error *ngIf="!userForm.get('roleId').valid && userForm.get('roleId').touched">
            Ce champ est obligatoire
          </mat-error>
        </div>
        <mat-form-field class="form-element">
          <input matTooltip="Enter Password" formControlName="password" matInput placeholder="Password">
          <mat-error *ngIf="!userForm.get('password').valid && userForm.get('password').touched">
            Ce champ est obligatoire
          </mat-error>
        </mat-form-field>

        <mat-dialog-actions align="center">
          <button type="submit" mat-raised-button color="accent" matTooltip="Click Submit Button"
            [disabled]="!userForm.valid">Valider</button>
          <button type="reset" mat-raised-button color="accent" matTooltip="Click Reset Button"
            (click)="closeForm()">Fermer</button>
        </mat-dialog-actions>

        <p *ngIf="dataSaved" style="color:rgb(0, 128, 0);font-size:20px;font-weight:bold" Class="success"
          align="left">
          {{message}}
        </p>

        <br><br>

      </form>
    </mat-dialog-content>
  </div>
  
</div>
