<div class="container">

  <div id="manage-customer" class="z-depth1">

    <mat-toolbar class="title-form" color="accent">
      <div align="center" style="text-align: center; width:100%;">
        <p>AJOUTER UN CLIENT</p>
      </div>
    </mat-toolbar>

    <br><br>

    <mat-dialog-content align="left">
      <form [formGroup]="customerForm" (ngSubmit)="onFormSubmit(customerForm.value)" class="form">
        <mat-form-field class="form-element">
          <input formControlName="name" matTooltip="Enter Client Name" matInput placeholder="Customer Firstname">
          <mat-error *ngIf="!customerForm.get('name').valid && customerForm.get('name').touched">
            Ce champ est obligatoire
          </mat-error>
        </mat-form-field>

        <mat-form-field class="form-element">
          <input formControlName="address" matTooltip="Enter Customer Address" matInput placeholder="Customer Address">
          <mat-error *ngIf="!customerForm.get('address').valid && customerForm.get('address').touched">
            Ce champ est obligatoire
          </mat-error>
        </mat-form-field>

        <mat-form-field class="form-element">
          <input formControlName="phoneNumber" matTooltip="Enter Phone Number" matInput placeholder="phoneNumber">
          <mat-error *ngIf="!customerForm.get('phoneNumber').valid && customerForm.get('phoneNumber').touched">
              Ce champ est obligatoire
          </mat-error>
        </mat-form-field>

        <mat-form-field class="form-element">
          <input formControlName="email" matTooltip="Enter Email" matInput placeholder="Email">
          <mat-error *ngIf="!customerForm.get('email').valid && customerForm.get('email').touched">
            {{ getErrorEmail() }}
          </mat-error>
        </mat-form-field>

        <mat-form-field class="form-element">
          <input formControlName="directorName" matTooltip="Enter Director Name" matInput placeholder="directorName">
          <mat-error *ngIf="!customerForm.get('directorName').valid && customerForm.get('directorName').touched">
              Ce champ est obligatoire
          </mat-error>
        </mat-form-field>

        <mat-form-field class="form-element">
          <input formControlName="departmentName" matTooltip="Enter Director Name" matInput placeholder="departmentName">
          <mat-error *ngIf="!customerForm.get('departmentName').valid && customerForm.get('departmentName').touched">
              Ce champ est obligatoire
          </mat-error>
        </mat-form-field>

        <mat-form-field class="form-element">
            <input formControlName="reductionId" matTooltip="Enter Director Name" matInput placeholder="reductionId">
            <mat-error *ngIf="!customerForm.get('reductionId').valid && customerForm.get('reductionId').touched">
                Ce champ est obligatoire
            </mat-error>
          </mat-form-field>

        <mat-dialog-actions align="center">
          <button type="submit" mat-raised-button color="accent" matTooltip="Click Submit Button"
            [disabled]="!customerForm.valid">Valider</button>
          <button type="reset" mat-raised-button color="accent" matTooltip="Click Reset Button"
            (click)="resetForm()">Fermer</button>
        </mat-dialog-actions>

        <p *ngIf="dataSaved" style="color:rgb(0, 128, 0);font-size:20px;font-weight:bold" Class="success" align="left">
          {{message}}
        </p>

        <br><br>

      </form>
    </mat-dialog-content>
  </div>

</div>