
.example-card{
  margin: 0 auto; 
  justify-content: center;
  background-color: #bdbcfc;
  width: 400px;
}
.logo-picture{
    
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    float: none;
	  width: 100%;
}
.img-circle {
    border-radius: 50%;
    width: 200px;
}