#table {
    width: 100%;
    flex: 1 1 auto;
    position: relative;
}

#products, #command {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#products table, #command table {
    width: 100%;
}

mat-grid-tile {
    overflow-y: auto;
}