<mat-toolbar color="primary">
  <div>
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div>
    <p class="welcome-title">ERP-BISCUITERIE</p>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
    <ul fxLayout fxLayoutGap="15px" class="navigation-items">
      <li><a routerLink="/"><i class="material-icons">person</i></a></li>
      <li><a routerLink="/"><i class="material-icons">close</i></a></li>
    </ul>
  </div>
</mat-toolbar>
